@import url("https://fonts.googleapis.com/css?family=Literata");

:root {
  --white: #efefef;
  --black: #080706;
  --gold: #d1b280;
  --grey: #d3d3d3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

body {
  font-family: "Literata";
  background-color: var(--white);
}

/* Channel List */

#heading {
  font-size: 50px;
  text-align: center;
  margin: 50px;
  color: var(--black);
}

#channel-search {
  width: 60%;
  margin: 0 auto;
  position: relative;
}

#channel-search-bar {
  width: 100%;
  height: 50px;
  font-size: 30px;
  margin: 0 auto;
  border: none;
  padding-left: 15px;
  border-radius: 3px;
  border-bottom: 2px solid var(--black);
}

#channel-search-bar:focus {
  outline: none;
  border-bottom: 2px solid var(--black);
}

#channel-list {
  background-color: var(--white);
  width: 60%;
  margin: 50px auto;
  padding: 0;
  max-height: 700px;
  overflow: hidden;
  overflow-y: scroll;
}

#channel-list a {
  width: 100%;
  text-decoration: none;
  color: var(--black);
}

.fa-times-circle {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px !important;
}

.fa-times-circle:hover {
  cursor: pointer;
}

.channel {
  list-style-type: none;
  padding: 10px;
  border-bottom: 1px solid grey;
}

.fa-align-justify {
  margin-right: 10px;
  font-size: 20px !important;
}

.channel-top {
  display: flex;
  align-items: center;
}

.channel-name {
  font-size: 24px;
  margin-bottom: 5px;
}
.channel-desc {
  text-align: justify;
  font-size: 15px;
}

/* Channel News */

#article-search {
  width: 50%;
  margin: 80px auto;
  position: relative;
}

#article-search-bar {
  width: 100%;
  height: 50px;
  font-size: 30px;
  margin: 0 auto;
  border: none;
  padding-left: 15px;
  border-radius: 3px;
  border-bottom: 2px solid var(--black);
}

#article-search-bar:focus {
  outline: none;
  border-bottom: 2px solid var(--black);
}

.contentContainer {
  width: 90%;
  margin: 50px auto;
  column-count: 4;
  column-gap: 60px;
}

.article-card {
  background-color: var(--white);
  border-radius: 5px;
  display: inline-block;
  margin-bottom: 40px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  padding-bottom: 25px;
}

.article-title {
  background: var(--grey);
  font-size: 30px;
  font-weight: 500;
  padding: 25px;
  margin-bottom: 20px;
  border-bottom: 2px solid var(--black);
}

.article-desc {
  padding: 25px;
  font-size: 20px;
  text-align: justify;
}

.modal {
  padding: 0 !important;
}

.modal-dialog {
  margin: 10% auto;
  height: 300px;
  max-width: 60%;
  display: flex;
}

.modal-content {
  background-color: var(--white);
  padding: 25px;
}

.modal-body {
	text-align: justify;
}

.close {
  position: relative;
  left: 20px;
  top: -25px;
}

/* Loading spinner */

.spinner {
  width: 40px;
  height: 40px;

  position: relative;
  margin: 100px auto;
}

#center-loader {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.double-bounce1,
.double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-bounce 2s infinite ease-in-out;
  animation: sk-bounce 2s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

@-webkit-keyframes sk-bounce {
  0%,
  100% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bounce {
  0%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}

/* Read more button */

.button-center {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  background: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
}

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-size: inherit;
  font-family: inherit;
  border-radius: 5px;
}

button.learn-more {
  transition: all 0.5s cubic-bezier(0.65, -0.25, 0.25, 1.95);
  font-weight: 900;
  color: var(--white);
  padding: 0.8rem 1.5rem;
  background: var(--black);
  text-transform: uppercase;
}

button.learn-more:hover {
  letter-spacing: 0.125rem;
}

/* Main article button */

#redirect-url-button {
  background-color: var(--black);
}

/* Footer */

#universal-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  padding: 10px 0;
  text-align: center;
  background-color: var(--black);
  color: var(--white);
}

#footer-left {
  margin-left: 50px;
}

#github-handle {
  margin-left: 5px;
  color: var(--white);
}

#footer-right {
  margin-right: 50px;
}

#api-link {
  margin-left: 5px;
  color: var(--white);
}

/* Responsive CSS */

@media (min-width: 1025px) and (max-width: 1280px) {
  .contentContainer {
    margin: 50px auto;
    column-count: 3;
    column-gap: 50px;
  }

  .modal-dialog {
    margin: 10% auto;
    height: 350px;
    max-width: 60%;
    display: flex;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  #channel-search {
    width: 80%;
  }

  #channel-list {
    width: 85%;
  }

  .contentContainer {
    position: relative;
    margin: 50px auto;
    column-count: 2;
    column-gap: 50px;
  }

  #article-search {
    width: 80%;
  }

  .modal-dialog {
    margin: 10% auto;
    height: 500px;
    max-width: 60%;
    display: flex;
  }
}

@media (min-width: 321px) and (max-width: 767px) {
  #channel-search {
    width: 80%;
  }

  #channel-list {
    width: 85%;
  }

  .contentContainer {
    position: relative;
    margin: 50px auto;
    column-count: 1;
  }

  #article-search {
    width: 90%;
  }

  .modal-dialog {
    margin: 10% auto;
    height: 650px;
    max-width: 90%;
    display: flex;
  }

  .modal-footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #universal-footer {
    flex-direction: column;
  }

  #footer-left {
    margin: 0;
  }

  #footer-right {
    margin: 0;
    margin-top: 10px;
  }
}

@media (max-width: 320px) {
  #channel-search {
    width: 80%;
  }

  #channel-list {
    width: 85%;
  }

  .contentContainer {
    position: relative;
    margin: 50px auto;
    column-count: 1;
  }

  #article-search {
    width: 90%;
  }

  .modal-dialog {
    margin: 10% auto;
    height: 650px;
    max-width: 90%;
    display: flex;
  }

  .modal-content {
    padding: 20px;
  }

  .modal-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  #redirect-url-button {
    margin: 10px;
  }

  #universal-footer {
    flex-direction: column;
  }

  #footer-left {
    margin: 0;
  }

  #footer-right {
    margin: 0;
    margin-top: 10px;
  }
}
