@import url('https://fonts.googleapis.com/css?family=Literata');

body {
	font-family: "Literata";
	background-color:#bdc3c7;
}

/* Channel List */

#heading {
	font-size: 50px;
	text-align: center;
	margin: 50px;
}

#channel-list {
	background-color: white;
	width: 60%;
	margin: 0 auto;
	padding: 0;
	max-height: 700px;
	overflow :hidden;
	overflow-y :scroll;
}

#channel-list a {
	width: 100%;
	text-decoration: none;
	color: black;
}

.channel {
	list-style-type: none;
	padding: 10px;
	border-bottom: 1px solid grey;
}

.fa-align-justify {
	margin-right: 10px;
	font-size: 20px !important;
}

.channel-top {
	display: flex;
	align-items: center;
}

.channel-name {
	font-size: 24px;
	margin-bottom: 5px;
}
.channel-desc {
	text-align: justify;
	font-size: 15px;
}

/* Channel News */

#article-search {
	text-align: center;
	width: 100%;
}

#search-bar {
	width: 50%;
	height: 50px;
	font-size: 30px;
	margin: 50px auto;
	border: none;
	padding-left: 15px;
	/* border-bottom: 2px solid #2c3e50; */
	box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);;
}

#search-bar:focus {
	outline: none;
	/* border-bottom: 2px solid #2c3e50; */
}

.container {
	width: 90%;
	margin: 50px auto;
  column-count: 4;
	column-gap: 60px;
}

.article-card {
	background-color: white;
	border-radius: 5px;
	display: inline-block;
	margin-bottom: 35px;
	padding: 20px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.article-title {
	font-size: 30px;
	font-weight: 500;
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 2px solid grey;
}

.article-desc {
	font-size: 20px;
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .container {
		margin: 50px auto;
		column-count: 3;
		column-gap: 50px;
	}
}

@media (min-width: 768px) and (max-width: 1024px) {
  .container {
		position: relative;
		margin: 50px auto;
		column-count: 2;
		column-gap: 50px;
	}
}

@media (max-width: 767px) {
  .container {
		position: relative;
		margin: 50px auto;
		column-count: 1;
	}
}